<div class="col-mid-4"></div>
<div class="col-md-4 text-center">
<h3>Events history</h3>
<div class="table-responsive">
    <table class="table table-stripped">


        <thead class="table-dark">
            <tr>

                <th>Date </th>
                <th>Event </th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let result of results">
            <td>{{result.edate}}</td>
            <td>{{result.eventdetl}}</td>
            </tr>
        </tbody>
    </table>
</div>





</div>
